body {
    background-image: url("../images/just-waves.png")
}
p {
    text-indent: 40px;
}
.container {
    background-color: white;
    width: 100%;
    max-width: 960px;
    margin-top: 150px;
}

.myname {
    font-size: 40px;
}

.portpic {
    margin-bottom: 20px;
}

.card {
    margin-top: 100px;
}

@media screen and (max-width: 640px){
    .container {
        max-width: 500px;
        margin-top: 50px;
}
    .navbar {
        position:static;
        margin-bottom:0;
    }
    .portpic {
        max-width:210px;
        max-height:210px;
        margin:10px;
    }
    .profpic {
        max-width:300px;
        margin-left: 100px;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 768px) and (min-width: 641px){
    .container {
        max-width: 600px;
    }
    .profpic {
        max-width:300px;
        margin-left:150px;
        margin-bottom:20px;
    }
}

@media screen and (max-width:980px) and (min-width:769px){
    .container {
        max-width: 800px;
    }
}