body {
    background-image: url("../images/just-waves.png")
}

.container {
    background-color: white;
    width: 100%;
    max-width: 960px;
    margin-top: 150px;
}

.myname {
    font-size: 40px;
}

@media only screen and (max-width: 640px){

}

@media only screen and (max-width: 768px) and (min-width: 640px){
    
}

@media only screen and (max-width: 980px) and (min-width: 769px){
    
}