body {
    background-image: url("../images/just-waves.png")
}

.container {
    background-color: white;
    width: 100%;
    max-width: 960px;
    margin-top: 150px;
}

.myname {
    font-size: 40px;
}

.portpic {
    margin-bottom: 20px;
}

.card {
    margin-top: 100px;
}